@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --primary-color: #005663;
    --primary-color-darker: #003e47;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.container .data{
    display: flex;
    justify-content: space-between;
}

.container p {
    margin: 15px 0px;
}

form input, form label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form input[type="submit"] {
    border: none;
    background-color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
    color: white;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
}

form input[type="submit"]:hover {
    background-color: var(--primary-color-darker);
}

.paragrafo-resultado {
    background-color: rgb(144, 247, 144);
    padding: 10px 20px;
}

.bad {
    padding: 10px 20px;
    background-color: rgb(255, 145, 145);
}

@media screen and (max-width: 425px) {
    .container {
        margin-right: 5%;
        margin-left: 5%;
          
    }
    
    .container h1 {
        text-align: center;
        margin-bottom: 5%;
    }

    body {
        font-size: 16px;
    }
}